button.primary{
  box-sizing: border-box;
  width: 10rem;
  height: 4rem;
  color: whitesmoke;
  cursor: pointer;
  background-color: rgb(173, 45, 66);
  border-radius: 8px;
  box-shadow: 3px 2px 4px 2px black;
  margin: 5px;
  &:hover{
    transition: 0.4s;
    filter: brightness(150%);
    box-shadow: 4px 3px 4px 3px black;
  }
}
button.secondary{
  box-sizing: border-box;
  width: 14%;
  padding: 6px;
  color: whitesmoke;
  cursor: pointer;
  background-color: rgb(52, 14, 155);
  border-radius: 6px;
  box-shadow: 3px 2px 4px 2px black;
  margin: 5px;
  &:hover{
    transition: 0.3s;
    filter: brightness(150%);
    background-color: rgb(113, 19, 201);
    box-shadow: 4px 2px 5px 2px black;
  }
  button.cambio{
      transition: 0.6s;
      width: 14%;
      padding: 6px;
      background-color: rgb(14, 155, 84);
      box-shadow: 3px 2px 4px 2px black;
      color: aqua;
  }
}
.correcto{
  background-color: rgb(208, 191, 163);
  font-size: 24px;
  justify-content: center;
  text-align: center;
  background: linear-gradient(var(--rotate), #3159e9d5 20%, #09186e 43%, #0953bbd2 80%);
  transition: opacity 2.5s;
  font-size: 30px;
  font-weight: 800;
transition: opacity 2.5s;
animation: spin 2s linear infinite;
color: rgb(255, 255, 255);
  letter-spacing: 4px;
  border-radius: 10px;
  width: 70%;
  height: 5rem;
  box-shadow: 2px 2px 1px 2px rgb(9, 38, 133);
}
.fondo{
  background-image: url('https://i.blogs.es/28f98a/wordle/1366_2000.jpg');
  height: 85vh;
  min-height: 60vh;
  border-radius: 10px;
}
#per{
  background: linear-gradient(var(--rotate), #4be155 20%, #0a822a 43%, #09d04c 80%);
  transition: opacity 2.5s;
  font-size: 30px;
  font-weight: 800;
  width: 100%;
 padding: 10px;
animation: spin 1.5s linear infinite;
-webkit-background-clip: text;
color: transparent;
}
.pista{
  font-size: 24px;
  font-weight: 500;
  color: #000000;
  background-color: #ede4d181;
  letter-spacing: 3px;
}

@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}
