<div id="portfolio">
  <div class="container-fluid d-flex-column">
      <div class="d-flex d-flex-row  ">
              <a class="portfolio-box  p-2 bor de" style="margin-right: 1rem;" routerLink="GuessTheWord" title="Project Name">
                  <img class="img-fluid images" src="../../assets/img/pal.png" alt="..." />
                  <div class="portfolio-box-caption de">
                      <div class="project-category text-white-50"> <p class="title">WordsGame!</p></div>
                      <div class="project-name">Este es un juego de adivinar las palabras muy divertido!.</div>
                  </div>
              </a>
              <a class="portfolio-box fotoDer bor de" routerLink="cities" title="Project Name">
                <img class="img-fluid images" src="../../assets/img/cit.png" alt="..." />
                <div class="portfolio-box-caption">
                    <div class="project-category text-white-50"><p class="title">Cities!</p></div>
                    <div class="project-name">Este es un formulario de añadir ciudades.</div>
                </div>
            </a>
    </div>
    <div class="d-flex flex-row my-3">
      <a class="portfolio-box bor de" style="margin-right: 1rem;;" routerLink="contact-template" title="Project Name">
        <img class="img-fluid images" src="../../assets/img/cfor.png" alt="..." />
        <div class="portfolio-box-caption">
            <div class="project-category text-white-50"><p class="title">Template Form!</p> </div>
            <div class="project-name">Este es un formulario tipo template!.</div>
        </div>
    </a>
    <a class="portfolio-box fotoDer bor de" routerLink="contact-reactive" title="Project Name">
      <img class="img-fluid images" src="../../assets/img/rform.png" alt="..." />
      <div class="portfolio-box-caption">
          <div class="project-category text-white-50"><p class="title">Reactive Form!</p></div>
          <div class="project-name">Este es un formulario reactivo!.</div>
      </div>
  </a>
    </div>
  </div>
</div>
