.selected{
  padding: 10px;
  background-color: red;
  color: wheat;
  cursor: pointer;
}
.unSelected{
  background-color: wheat;
  color: red;
  cursor: pointer;
}
.correcto{
  background-color: green;
  font-size: 24px;
  border-radius: 10px;
  padding: 6px;
}

