<h1>¡¡Bienvenido al juego de adivinar palabras!!</h1>
<app-start-button> </app-start-button>
<!--
<p *ngIf="name===clave" [ngClass]="'correcto'">!!SI ES VERDAD!!!</p>
<p (click)="clicked(name)" [ngClass]=" name===clave ? 'correcto':'incorrecto' " >¿¿la clave es: <span *ngIf="!name">-------</span> {{name}} ??</p>
<input type="text" [(ngModel)]= "name" >
-->
<ul *ngFor="let city of cities">
  <li (click)="onCityClicked(city)" [ngClass]="{'selected': city===selection}">{{city}}</li>
</ul>
<div *ngIf="selection">
  <p >Your City is: {{selection}}</p>
<!--  <button (click)="getClear()">Clear</button>-->
  <app-button (click)="getClear()" [ngStyle]="{color: 'blue'}" [label]="'Clear??'" [selection]="selection" ></app-button>
</div>
