  <div class="container p-2 juegos fw-bold text-center" style="box-shadow: 0px 0px 14px black; border-radius: 12px;">
    <h1>¡Añadir ciudades!</h1> <hr>
    <div class="row">
       <div class="d-flex justify-content-center flex-row mb-3 my-3" >
        <!--Add-->
        <app-form-new-item  class="p-2 bot" (NewItemEvent)="addNewCity($event)"  [label]="'City'" [className]="'btn-info'"></app-form-new-item>
        <!--Search-->
        <label class="serc">Search </label>  <input type="text" class="form-control p-2 ser" placeholder="Filter..." [(ngModel)]="criterio">
      </div>
        <div class="col-md-8 d-flex">
        <ul class="listado">
        <app-cities *ngFor="let city of (cities | filterPipe:criterio)" (cityClickedEvent)="onCityClicked($event)" [city]="city" [selection]="selection"></app-cities>
        </ul>
        </div>
        <div class="col-md-4">
            <div *ngIf="selection">
              <p >Your City is: {{selection}}</p>
            <!--  <button (click)="getClear()">Clear</button>-->
              <app-button (click)="getClear()" [ngStyle]="{color: 'blue'}"  [label]="'¿Clear?'" [selection]="selection" ></app-button>
              <button (click)="deleteCity(selection)"  class="btn-primary btn">Delete</button>

           </div>
      </div>
    </div>
  </div>

