  <div class="container juegos fw-bold text-center">
    <div class="d-flex flex-column">
    <h1>¡Añadir ciudades!</h1> <hr>
       <div class="col-md-12 d-flex flex-column justify-content-center align-items-center my-3 " >
        <div class="d-flex flex-row my-3">
        <app-form-new-item (NewItemEvent)="addNewCity($event)"  [label]="'City'" [className]="'btn-info'"></app-form-new-item>
        <label class="inputLa">Search: </label>  <input class="inputSe" type="text" placeholder="Filter..." [(ngModel)]="criterio">
       </div>
       <div class="my-3 col-md-12 d-flex flex-column justify-content-center align-items-center my-3 ">
        <ul >
        <app-cities  *ngFor="let city of (cities | filterPipe:criterio)" (cityClickedEvent)="onCityClicked($event)" [city]="city" [selection]="selection"></app-cities>
        </ul>
        <div class="col-md-4">
            <div *ngIf="selection">
              <p >Your City is: {{selection}}</p>
            <!--  <button (click)="getClear()">Clear</button>-->
              <app-button (click)="getClear()" [ngStyle]="{color: 'blue'}"  [label]="'¿Clear?'" [selection]="selection" ></app-button>
              <button style="margin-left: 2rem;" (click)="deleteCity(selection)"  class="btn-primary btn">Delete</button>

           </div>
      </div>
       </div>
    </div>
  </div>

